################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BotCore/.vs
/BotCore/bin/Debug/net8.0
/BotCore/obj
/LoboForge.TNOIRC.Shared/bin/Debug/net8.0
/LoboForge.TNOIRC.Shared/obj
